<div class="relative bg-contain bg-center h-64" style="background-image: url('../../../assets/about.png'); background-size: cover;">
    <div class="absolute bottom-0 left-0 right-0 bg-white text-center p-8"  style="margin-left: 35%; margin-right: 35% ;border-top-left-radius: 50px; border-top-right-radius: 50px;">
      <p class="font-bold text-5xl text-[#292F36] font">About Us</p>
      <p class="text-[#292F36]">Home / About Us</p>
    </div>
</div>

<div class="ml-64 mr-64 mt-32">
    <div class="grid grid-cols-3 gap-8" style="justify-items: flex-end;">
        <div class="self-center">
            <p class="font-bold text-5xl text-[#292F36] font">What We Do</p>
            <p class="text-[#4D5053] text-xl pt-8">It is a long established fact that a reader will be distracted by the of readable content of a page 
                when lookings at its layouts the points of using 
                that it has a more-or-less normal.</p>
            <div class="pt-8">
              <button class="text-white pt-4 pb-4 pr-8 pl-8 rounded-xl hover:text-gray-100 bg-[#292F36] hover:bg-gray-600">Our Concept &nbsp;<i class="fa-solid fa-arrow-right-long text-[#CDA274]"></i></button>
            </div>
        </div>
        <div class="col-span-2">
            <img src="../../../assets/concept.jpg" style="border-radius: 50px;" alt="">
        </div>
    </div>
    <div class="grid grid-cols-3 gap-8 mt-16" style="justify-items: flex-start;">
        <div class="col-span-2">
            <img src="../../../assets/concept2.jpg" style="border-radius: 50px;" alt="">
        </div>
        <div class="self-center">
            <p class="font-bold text-5xl text-[#292F36] font">The End Result</p>
            <p class="text-[#4D5053] text-xl pt-8">It is a long established fact that a reader will be distracted by the of readable content of a page 
                when lookings at its layouts the points of using 
                that it has a more-or-less normal.</p>
            <div class="pt-8">
              <button class="text-white pt-4 pb-4 pr-8 pl-8 rounded-xl hover:text-gray-100 bg-[#292F36] hover:bg-gray-600">Our Portfolio &nbsp;<i class="fa-solid fa-arrow-right-long text-[#CDA274]"></i></button>
            </div>
        </div>
    </div>

    <div class="mt-24 text-center" style="text-align: -webkit-center;">
        <p class="font-bold text-5xl text-[#292F36] font pr-56 pl-56">Creative project? Let's have a productive talk.</p>
        <form class="example-form pt-8">
            <div class="grid grid-cols-2 gap-8">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. John">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com">
                </mat-form-field>
            </div>
          
            <mat-form-field class="example-full-width pt-4">
              <mat-label>Hello I am Interested in..</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
          </form>

          <div class="pt-8">
            <button class="text-white pt-4 pb-4 pr-8 pl-8 rounded-xl hover:text-gray-100 bg-[#292F36] hover:bg-gray-600">Send Now &nbsp;<i class="fa-solid fa-arrow-right-long text-[#CDA274]"></i></button>
          </div>
          <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
    </div>
</div>
  