<nav>
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex justify-between h-16 p-12">
        <!-- Logo -->
        <div class="flex-shrink-0 flex items-center">
          <!-- <a href="#" class="text-black text-2xl font-bold cursor-pointer font-mono">YourLogo</a> -->
          <img class="w-64" src="../../../assets/logo/mainLogo.png" alt="company logo">
        </div>
  
        <!-- Navigation Links -->
        <div class="hidden md:block" style="align-self: center;">
          <ul class="ml-10 flex items-center space-x-4">
            <li><a href="/home" class="text-gray-800 hover:text-gray-600 cursor-pointer font-mono">Home</a></li>
            <li><a href="/about" class="text-gray-800 hover:text-gray-600 cursor-pointer font-mono">About</a></li>
            <li><a href="#" class="text-gray-800 hover:text-gray-600 cursor-pointer font-mono">Services</a></li>
            <li><a href="/contact-us" class="text-gray-800 hover:text-gray-600 cursor-pointer font-mono">Contact</a></li>
            <!-- Add more links as needed -->
          </ul>
        </div>
      </div>
    </div>
</nav>
  