<div class="bg-cover bg-center h-screen" style="background-image: url('../../../assets/Photo.jpg'); border-bottom-left-radius: 210px;">
  <div class="p-64">
    <p class="text-7xl font-bold text-[#292F36] font">Let Your Home <br> Be Unique</p>
    <p class="pt-2 pb-2 text-[#4D5053]">There are many variations of the passages of lorem Ipsum <br> fromavailable,variations of the passages.</p>
    <button class="text-white pt-4 pb-4 pr-8 pl-8 rounded-xl hover:text-gray-100 bg-[#292F36] hover:bg-gray-600">Get Started &nbsp;<i class="fa-solid fa-arrow-right-long text-[#CDA274]"></i></button>
  </div>
</div>
<div class="ml-64 mr-64">
  <div class="grid grid-cols-3 gap-16 pt-20 pb-20">
    <div class="text-center">
      <p class="font-bold text-[#292F36] font">Project Plan</p>
      <p class="text-[#4D5053] font">There are many variations of the passages of lorem Ipsum from 
        available majority.</p>
    </div>
    <div class="text-center">
      <p class="font-bold text-[#292F36] font">Interior Work</p>
      <p class="text-[#4D5053] font">There are many variations of the passages of lorem Ipsum from 
        available majority.</p>
    </div>
    <div class="text-center">
      <p class="font-bold text-[#292F36] font">Realization</p>
      <p class="text-[#4D5053] font">There are many variations of the passages of lorem Ipsum from 
        available majority.</p>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-0">
    <div class="pr-24 self-center">
      <p class="font-bold text-4xl text-[#292F36] font">We Create The Art Of Stylish Living Stylishly</p>
      <p class="text-[#4D5053] pt-8">It is a long established fact that a reader will be distracted by the of readable content of a page 
        when lookings at its layouts the points of using 
        that it has a more-or-less normal.</p>
      <div class="grid grid-cols-6 gap-0 pt-8">
        <div class="col-span-1">
          <p class="rounded-full bg-[#F4F0EC] h-14 w-14" style="padding: 16px 0px 0px 20px;"><i class="fa-solid fa-phone text-[#CDA274]"></i></p>
        </div>
        <div class="col-span-5 self-center">
          <p class="text-[#4D5053] font-bold text-2xl">0824 929 1789</p>
          <p class="text-[#4D5053]">Call Us Anytime</p>
        </div>
      </div>
      <div class="pt-8">
        <button class="text-white pt-4 pb-4 pr-8 pl-8 rounded-xl hover:text-gray-100 bg-[#292F36] hover:bg-gray-600">Get Free Estimate &nbsp;<i class="fa-solid fa-arrow-right-long text-[#CDA274]"></i></button>
      </div>
    </div>
    <div>
      <img src="../../../assets/Photo (1).jpg" style="border-top-right-radius: 210px; border-bottom-left-radius: 150px;" alt="">
    </div>
  </div>
  <div class="mt-24">
    <div class="text-center pr-10 pl-10  mb-16">
      <p class="font-bold text-4xl text-[#292F36] font">Follow Our Projects</p>
      <p class="text-[#4D5053] pt-4">It is a long established fact that a reader will be distracted by the of readable <br> content of page  lookings at its layouts  points.</p>
    </div>
    <div class="grid grid-cols-2 gap-24">
      <div>
        <img src="../../../assets/kitchen.png" alt="kitchen" style="border-top-right-radius: 100px;">
        <div class="flex justify-between pt-5 pb-10">
          <div>
            <p class="font-bold text-xl text-[#292F36] font">Modular kitchen</p>
            <p class="text-[#292F36">Decor / Artchitecture</p>
          </div>
          <div class="self-center">
            <p class="flex items-center justify-center h-14 w-14 rounded-full bg-[#f4f0ec] cursor-pointer">
              <i class="fa-solid fa-chevron-right"></i>
            </p>
          </div>
        </div>
      </div>
      <div>
        <img src="../../../assets/kitchen1.png" alt="kitchen1" style="border-top-left-radius: 100px;">
        <div class="flex justify-between pt-5 pb-10">
          <div>
            <p class="font-bold text-xl text-[#292F36] font">Modular kitchen</p>
            <p class="text-[#292F36">Decor / Artchitecture</p>
          </div>
          <div class="self-center">
            <p class="flex items-center justify-center h-14 w-14 rounded-full bg-[#f4f0ec] cursor-pointer">
              <i class="fa-solid fa-chevron-right"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-24">
      <div>
        <img src="../../../assets/kitchen2.png" alt="kitchen2" style="border-bottom-right-radius: 100px;">
        <div class="flex justify-between pt-5 pb-10">
          <div>
            <p class="font-bold text-xl text-[#292F36] font">Modular kitchen</p>
            <p class="text-[#292F36">Decor / Artchitecture</p>
          </div>
          <div class="self-center">
            <p class="flex items-center justify-center h-14 w-14 rounded-full bg-[#f4f0ec] cursor-pointer">
              <i class="fa-solid fa-chevron-right"></i>
            </p>
          </div>
        </div>
      </div>
      <div>
        <img src="../../../assets/kitchen3.png" alt="kitchen3" style="border-bottom-left-radius: 100px;">
        <div class="flex justify-between pt-5 pb-10">
          <div>
            <p class="font-bold text-xl text-[#292F36] font">Modular kitchen</p>
            <p class="text-[#292F36">Decor / Artchitecture</p>
          </div>
          <div class="self-center">
            <p class="flex items-center justify-center h-14 w-14 rounded-full bg-[#f4f0ec] cursor-pointer">
              <i class="fa-solid fa-chevron-right"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-4 divide-x-2 divide-[#CDA274] pt-28 pb-28 bg-[#f4f0ec] pl-64 pr-64">
  <div class="text-center">
    <p class="font font-bold text-7xl text-[#CDA274]">12</p>
    <p class="text-[#4D5053]">Years Of Experience</p>
  </div>
  <div class="text-center">
    <p class="font font-bold text-7xl text-[#CDA274]">85</p>
    <p class="text-[#4D5053]">Success Project</p>
  </div>
  <div class="text-center">
    <p class="font font-bold text-7xl text-[#CDA274]">15</p>
    <p class="text-[#4D5053]">Active Project</p>
  </div>
  <div class="text-center">
    <p class="font font-bold text-7xl text-[#CDA274]">95</p>
    <p class="text-[#4D5053]">Happy Customers</p>
  </div>
</div>

<div class="ml-64 mr-64 mt-32">
  <div class="text-center p-24 bg-[#292F36]" style="border-radius: 60px;">
    <p class="font-bold text-4xl text-white font">Wanna join the interno?</p>
    <p class="text-white pt-4">It is a long established fact  will be distracted.</p>
    <div class="pt-6">
      <button class="text-white pt-3 pb-3 pr-7 pl-7 rounded-lg hover:text-gray-100 bg-[#CDA274] hover:bg-gray-600">Contact with us &nbsp;<i class="fa-solid fa-arrow-right-long text-black"></i></button>
    </div>
  </div>
</div>

<!-- <div class="h-screen" style="background-image: url('../../assets/Photo.jpg');">
</div> -->