<div class="chessboard">
    <div *ngFor="let row of rows; let rowIndex = index" class="board-row">
      <div
        *ngFor="let square of squares; let colIndex = index"
        class="square"
        [ngClass]="{
          'light-blue': isHovered(rowIndex, colIndex),
          'dark-blue': isBishopAttack(rowIndex, colIndex)
        }"
        (mouseenter)="onSquareHover(rowIndex, colIndex)"
        (mouseleave)="onSquareLeave()"
        >
        {{ chessboard[rowIndex][colIndex] }}
      </div>
    </div>
</div>